/* You can add global styles to this file, and also import other style files */

$primary: #5cb248;

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

html,
body,
app-root,
main {
  font-family: 'Inter';
  height: 100%;
  --ng-progress-color: #5cb248;
}

router-outlet {
  display: contents;
}

.table-fixed {
  table-layout: fixed;
}

.table {
  tr {
    th,
    td {
      vertical-align: middle;

      &.action {
        width: 120px;
        text-align: center;
      }
    }
  }
}

.flex-1 {
  flex: 1;
}

.fs-7 {
  font-size: 0.875rem;
}

.card-header {
  min-height: 54px !important;
}

// Responsive border utilities
@media (min-width: 768px) {
  .border-md-end {
    border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  }
  .border-md-bottom-0 {
    border-bottom: 0 !important;
  }
}

.fade-in-content {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo {
  width: 120px;
  fill: light-dark(var(--bs-primary), #fff);

  body[data-bs-theme='light'] & {
    fill: var(--bs-primary) !important;
  }
}
