<div class="card border-secondary shadow-sm">
  <div class="card-header border-secondary d-flex justify-content-between align-items-center">
    <h6 class="mb-0 text-uppercase fw-bold text-primary d-flex align-items-center gap-2">
      <i class="bi bi-cpu-fill me-2"></i>
      {{ 'machines' | i18next }}
    </h6>
    <button
      class="btn btn-primary d-flex align-items-center gap-2 btn-sm"
      routerLink="new"
    >
      <i class="bi bi-plus-lg"></i> {{ 'addMachine' | i18next }}
    </button>
  </div>
  <div class="list-group px-3">
    <div
      class="drag-boundary"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
    >
      @for (machine of machines(); track $index) {
        @let first = $index === 0;
        @let last = $index === $count - 1;

        <div
          cdkDrag
          cdkDragBoundary=".drag-boundary"
          class="list-group-item border-secondary p-3 my-3 rounded shadow-sm draggable"
        >
          <div class="row align-items-center">
            <div class="col-auto d-flex flex-column gap-1 border-end border-secondary pe-3 me-2">
              <button
                class="btn btn-link btn-sm p-0 text-secondary"
                [disabled]="first"
                (click)="moveUp($index)"
              >
                <i class="bi bi-chevron-up"></i>
              </button>
              <button
                class="btn btn-link btn-sm p-0 text-secondary"
                [disabled]="last"
                (click)="moveDown($index)"
              >
                <i class="bi bi-chevron-down"></i>
              </button>
            </div>

            <div class="col">
              <div class="d-flex align-items-center gap-2">
                <h5 class="mb-0">{{ machine.name }}</h5>
                <span class="badge bg-outline-info border border-info text-info small">
                  {{ machine.machineType | i18next }}
                </span>
              </div>

              <div class="d-flex gap-3 mt-1 small text-muted">
                <span [ngClass]="machine.disabled ? 'text-warning' : 'text-success'">
                  <i
                    class="bi"
                    [ngClass]="machine.disabled ? 'bi-exclamation-triangle' : 'bi-check-circle-fill'"
                  ></i>
                  {{ machine.disabled ? 'Monitoring Disabled' : 'Monitoring Active' }}
                </span>
              </div>
            </div>

            <div class="col-auto d-flex gap-2">
              <a
                class="btn btn-outline-secondary btn-sm px-3"
                [routerLink]="[machine.id, 'edit']"
              >
                <i class="bi bi-pencil"></i>
                {{ 'edit' | i18next }}
              </a>
            </div>
          </div>
        </div>
        <span></span>
      }
    </div>
  </div>
</div>
