<app-card-section
  icon="bi-people-fill"
  [heading]="'users' | i18next"
>
  <a
    card-actions
    class="btn btn-primary d-flex align-items-center gap-2 btn-sm"
    routerLink="new"
  >
    <i class="bi bi-person-plus"></i>
    {{ 'addUser' | i18next }}
  </a>
  <div class="list-group px-3">
    <div>
      @for (user of users.value(); track user.id) {
        <div class="list-group-item border-secondary p-3 my-3 rounded shadow-sm user-card">
          <div class="row align-items-start user-card-content">
            <div class="col user-info">
              <div class="d-flex flex-column flex-md-row align-items-start align-md-items-center gap-2 mb-2">
                <h5 class="mb-0 user-name">{{ user.username }}</h5>
                <span
                  class="badge border small flex-shrink-0"
                  [ngClass]="{
                    'bg-outline-info border-info text-info': user.accessLevel === 'Administrator',
                    'bg-outline-secondary border-secondary text-secondary': user.accessLevel !== 'Administrator',
                  }"
                >
                  {{ user.accessLevel }}
                </span>
              </div>

              <div class="d-flex gap-1 gap-md-3 small flex-column flex-md-row align-items-center-md">
                <div class="text-muted">
                  <i class="bi bi-clock-history"></i>
                  {{ 'session' | i18next }}
                  <strong>
                    @if (user.sessionLifetime) {
                      {{ user.sessionLifetime }} {{ 'days' | i18next }}
                    } @else {
                      {{ 'indefinite' | i18next }}
                    }
                  </strong>
                </div>

                @let isLoggedIn = user.id == activeUser()?.id;
                <div
                  class="d-flex gap-1 flex-wrap align-items-center"
                  [ngClass]="isLoggedIn ? 'text-success' : 'text-muted'"
                >
                  <i
                    class="bi"
                    [ngClass]="isLoggedIn ? 'bi-circle-fill' : 'bi-circle'"
                  ></i>
                  @if (isLoggedIn) {
                    {{ 'online' | i18next }}
                  } @else if (user.lastLogin) {
                    {{ 'lastLogin' | i18next: { lastLogin: user.lastLogin | date } }}
                  } @else {
                    {{ 'neverLoggedIn' | i18next }}
                  }
                </div>
              </div>
            </div>

            <div class="col-12 col-md-auto d-flex gap-2 mt-3 mt-md-0 user-actions">
              <a
                class="btn btn-outline-secondary btn-sm px-3 flex-grow-1 flex-md-grow-0"
                [routerLink]="[user.id, 'edit']"
              >
                <i class="bi bi-pencil"></i>
                {{ 'edit' | i18next }}
              </a>
            </div>
          </div>
        </div>
        <span></span>
      }
    </div>
  </div>
</app-card-section>
